 <div class="message clearfix">
        <%= image_tag ('cat1.png') %>
        <div class="message_box">
          <p class="user_name">
            のら
            <!-- <span class="time">・8月13日</span> -->
          <p>
          <p class="text">
            <%=tweet.text%>
          </p>
        </div>
      </div>
     