
    <header>
      <h1>ねこったー</h1>
    </header>
    <div class="contents">
      <%=render partial:"tweet",collection:@tweets%>
<!--        <form class="clearfix">
        <img src="images/cat1.png">
        <textarea rows="4" cols="40"></textarea>
        <div class="button-box">
          <input type="submit">
        </div>
      </form> -->
     </div>